<h1>Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


<% if @products.any? %>
  <h4>Here are your store's products:</h4>
  <table>
        <tr>
          <th>Product Name</th>
          <th>Product Price</th>
        </tr>
  <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.price %></td>
      </tr>
  <% end %>
  </table>
<% else %>
  <p>There are not any products. Click below to add.</p>
<% end %>

<p><%= link_to "Add new product", new_product_path %></p>

<p><%= link_to "Create new purchase", new_purchase_path %></p>