<h1>Product: <%= @product.name %></h1>
<h3>$<%= @product.price.round(2) %></h3>

<p><%= link_to "Edit product", edit_product_path(@product) %></p>
<p><%= link_to "Delete product", product_path(@product),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to purchase", purchase_path(@purchase) %></p>